h1, h3{
width: 100%;
text-align: center;
margin-left:0px;
    
}
h2{
    text-align: center;
    
}
body{
    background-color: rgba(37, 123, 144, 0.383);
    float:right;
    margin: 0px;
    padding: 0px;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
    margin-top:-22px;
    margin-bottom : 20px;
    padding:0px;
}

.bandeau{display:block;
         width: 100%;
        height:auto;
        float:right;
        top:0px;
        margin-bottom: 30px;
}
.menu-vertical{
    
    background-color: rgb(29, 54, 100);
    width: 20%;
    position: fixed;
    float: left;
    margin: 0px ; 
    top: 0;
    left:0;
    bottom:0;
    box-shadow: 2px 2px 2px rgb(54, 44, 109);
}

.logo{
    display: block;
    width: 100%;
    height: auto;
    margin: 15px auto 15px auto;
}
.menu-vertical .menu{
    background-color: rgb(23, 0, 117);
    width: 270;
    padding: 0px;
    margin: 0px 5px 20px 5px;
    border-radius: 30px;
    text-align: center;
}
.menu-vertical .menu a{
    display:block;
    min-width: 70%;
    color: rgb(247, 248, 248); /* Couleur du texte */
    font-size: 18px;
    margin: 0px;           
    padding: 20px;            
    text-align: center;            
    background-color: rgb(23, 0, 117);              
    text-decoration: none;        
    border-radius: 30px;   
    transition: all 0.3s ;
}
.menu-vertical .menu a:hover{
    display:block;
    padding: 25px;
    background-color: #c7b40f;
    color: rgb(23, 0, 117);
    border-color: rgb(23, 0, 117);
}

.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table{
    text-align: center;
    border-width: 1px;
    border-collapse: collapse;
    margin-left: 200px;
    margin-top: 50px;
}
caption{
    font-size: 30px;
    margin-bottom: 20px;
    color: crimson;
}
th{
    border: 2px solid black;
    font-size: 25px;
}
td{
    border: 2px solid black;
    font-size: 20px;
}

footer{
    display: flex;
    width: 100%;
}
footer a{
    display: block;
    font-size: 20px;
    background-color: rgb(23, 0, 117);
    color: white;
    width: 180px;
    height: 30px;
    padding: 10px;
    margin: 50px 0px 20px 175px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ;  
}
footer a:hover{
    display:block;
    padding: 10px;
    background-color: #c7b40f;
    color: rgb(23, 0, 117);
    border-color: rgb(23, 0, 117);
  }
  .boutons{
      display: flex;
  }

  .boutons li{
      list-style-type: none ;
  }

iframe{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.favoris{
    margin: 20px 20px 20px 530px;
}

.winners{
    display: block;
    margin-left: auto;
    margin-right: auto;
}